 body {
            font-family: Arial, sans-serif;
            background-color: #FFF;
            margin: 0;
            padding: 0;
        }

        header {
            background-color:#FFF ;
            color:#333;
            padding: 20px;
            text-align: center;
        }

        nav {
            display: flex;
            background-color: #333;
        }

        nav button {
            flex: 1;
            padding: 15px;
            border: none;
            background-color: #FFD700;
            color: 000;
            cursor: pointer;
            font-size: 16px;
        }
        nav button:hover{
            background-color: #333;
            color: #FFF;
        }

        nav button.active {
            background-color: #2F7A1F;
        }

        .tab {
            display: none;
            padding: 30px;
        }

        .tab.active {
            display: block;
        }

        select, textarea, input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 6px;
            border: 1px solid #333;
        }

        button.action {
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #FFD700;
            color: #000;
            border: #333 solid 3px;
            border-radius: 6px;
            cursor: pointer;
        }
        button.action:hover{
            background-color: #333;
            color: #FFD700;
            font-weight: bold;
        }

        .message {
            margin-top: 20px;
            font-weight: bold;
        }

        .avis-item {
            border: 1px solid #333;
            background: white;
            padding: 15px;
            border-radius: 8px;
            margin-bottom: 15px;
        }

        .avis-item p {
            margin: 8px 0;
        }
